.button{
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  text-decoration: none;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
}

.button--link{
  background: none;
}


.button--secondary{
  background: grey;
}